http://:80

@noTrailingSlash path /polygons
redir @noTrailingSlash /polygons/

handle_path /api/webhook {
	reverse_proxy webhook:8080
}

handle_path /api/polygons/* {
	reverse_proxy polygons_api:8080
}

handle_path /polygons/* {
	root * /srv/polygons
	file_server
}

handle {
	root * /srv/frontend
	file_server
}
